
body {
	background-image: url("concrete_seamless.png");
}

#id {
	color: blue;
	text-align: center;

}

.button {
	color :blue;
}

td,th {
	border: 1px solid grey;
	text-align: left;

}

 table.center {
    margin-left:auto; 
    margin-right:auto;
  }

form {
	width: 300px;
	margin: 0 auto;
}

